{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-md-6">
    <div class="card card-rounded p-4">
      <h4>Inscription</h4>
      <form method="post">
        <div class="mb-2"><input name="email" class="form-control" placeholder="Email"></div>
        <div class="mb-2"><input name="password" type="password" class="form-control" placeholder="Mot de passe"></div>
        <div class="mb-2"><input name="monthly_salary" type="number" step="0.01" class="form-control" placeholder="Salaire mensuel (ex: 1800)"></div>
        <button class="btn btn-primary w-100">Créer mon compte</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
